.card-container {
  border: 1px solid #fff;
  padding: 20px;
  margin-bottom: 20px;
  background: 	#505050;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
}
.card-header {
  text-align: left;
}
.card-body {
  margin: 5px;
}

.card-footer {
  margin: 5px;
}
