.card{
  background-color: whitesmoke;
  color: black;
  margin-bottom: 25px;
  text-shadow: none;
}

.date {
  align-content: flex-end;
}
.title {
  font-size: 15px;
  font-weight: bold
}

.hyperlink {
  color: black !important;
}
