<nav class="navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <h3 class="masthead-brand">HWSBot.UI</h3>
        </div>
        <ul class="nav gaq-nav navbar-nav navbar-right">
            <li class="active"><a routerLink="reddit" routerLinkActive="active">Reddit Search</a></li>
            <!-- <li><a routerLink="ebay" routerLinkActive="active">Ebay Search</a></li> -->
            <li><a href="https://www.reddit.com/user/rachelsroomate/">Reddit User</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
  </nav>