    <div class="row">
        <div class="row flex-container col-sm-6">
          <card>
            <div card-header>Latest Products:</div>
        <!--<li card-body *ngFor="let product of recentProducts"><a href="javascript:void(0)" (click)="selectProduct(product)"> {{product}}</a></li>-->
          </card>
      </div>
      <div class="row flex-container col-sm-6">
          <card>
            <div card-header>Add a Product:</div>
            <div card-body>
                <product-form></product-form>
            </div>
          </card>
      </div>
    </div>
